{% extends "dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-md-8">
        <h2 class="heading text-center">Add Work History</h2>
        <form method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="col text-left">
                {{ work_history_form|crispy }}
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}