{% extends "dashboard_base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="row form-row">
        <h2 class="heading text-center">Edit Project</h2>
        <div class="col-md-5">        
            <form method="POST" class="form" enctype="multipart/form-data">
                {% csrf_token %}            
                <div class="col text-left">
                    {{ project_form|crispy }}
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <div class="row card-container">
                {% for project in projects %}
                    <div class="card col-md-3 project-card">
                        <div class="card-body">
                            <a href="{% url 'edit-project' project.id %}">
                                <h5 class="card-title project-title">{{ project.name }}</h5>
                            </a>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}