{% extends "base.html" %}

{% block content %}
{% for data in data %}
<div class="container d-flex flex-column align-items-center">
    <img src="{{ data.hero_image.url }}" class="hero-image">

    <h2 class="heading text-center">{{ data.main_heading }}</h2>

    <p class="text-center home-description">{{ data.brief_description }}</p>
</div>
<hr>
<section id="about">
    {% include 'sections/about.html' %}
</section>
<hr>
<section id="skills">
    {% include 'sections/skills.html' %}
</section>
{% endfor %}

{% endblock %}