{% extends "base.html" %}

{% block content %}

<section id="home">
    {% include 'sections/home.html' %}
</section>

<hr>

<div id="sectionAccordian">
    <!-- Experience Section -->
    <section id="experience">
        <button id="experience-btn" class="heading section-heading btn w-100 m-0" type="button" data-bs-toggle="collapse" data-bs-target="#experienceCollapse">
            <h2 class="heading text-center m-0 p-0">Experience</h2> 
        </button>
        <div id="experienceCollapse" class="collapse" data-bs-parent="#sectionAccordian">
            {% include 'sections/experience.html' %}
        </div>
    </section>

    <hr>

    <!-- Skills Section -->
    <section id="skills">
        <button id="skills-btn" class="heading section-heading btn w-100 m-0" type="button" data-bs-toggle="collapse" data-bs-target="#skillsCollapse">
            <h2 class="heading text-center m-0 p-0">Skills</h2> 
        </button>
        <div id="skillsCollapse" class="collapse" data-bs-parent="#sectionAccordian">
            {% include 'sections/skills.html' %}
        </div>
    </section>

    <hr>

    <!-- Projects Section -->
    <section id="projects">
        <button class="heading section-heading btn w-100 m-0" type="button" data-bs-toggle="collapse" data-bs-target="#projectsCollapse">
            <h2 class="heading text-center m-0 p-0">Projects</h2>
        </button>
        <div id="projectsCollapse" class="collapse" data-bs-parent="#sectionAccordian">
            {% include 'sections/projects.html' %}
        </div>
    </section>

</div>

{% endblock %}


