@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@600&family=Roboto+Slab&display=swap');

/* Global Styling */

:root {
    --navy-blue: #000080;
    --picton-blue: #00AEFF;
    --white: #fff;
    --logo: 'Playfair Display', serif;
    --heading-font: 'Montserrat', sans-serif;
    --main-font: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 0.2rem;
}

body {
    background-color: var(--white);
    color: var(--navy-blue);
    font-size: 1.6rem;
    font-family: var(--main-font);
    margin-bottom:7rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

footer {
    background-color: var(--navy-blue);
    color: var(--white);
    height: 7rem;
}

.heading {
    font-size: 4.8rem;
    padding: 2rem;
}

hr {
    border-top: 1px solid var(--navy-blue);
    opacity: 1;
}

.box-border {
    border: solid 0.3rem var(--navy-blue);
    padding: 2rem;
    border-radius: 2rem;
}

.top-margin {
    margin-top: 3rem;
}

.bottom-margin {
    margin-bottom: 3rem;
}

/* Navbar */

.navbar {
    background-color: var(--navy-blue);
    color: var(--white);
    height: 7rem;
    align-items: center;
}

.navbar-brand {
    color: var(--white);
    font-family: var(--logo);
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 2rem;
}

.nav-link {
    color: var(--white);
    font-size: 2rem !important;
}

.navbar-nav .nav-link.active {
    color: var(--picton-blue);
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--picton-blue);
}

.navbar-collapse {
    background-color: var(--navy-blue);
    text-align: center;
    margin: 2rem;
}

.navbar-toggler {
    background-color: var(--white);
    margin: 2rem;
}

/* Home Page */

.hero-image {
    margin: 4rem 0 4rem;
    width: 30rem;
    height: 30rem;
    border: 0.2rem solid var(--navy-blue);
    border-radius: 50%;
}

.home-description {
    padding: 2rem;
    margin-top: 2rem;
    font-size: 2.4rem;
}

/* About Section */

.about-row {
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
}

.about-p {
    font-size: 2rem;
}

.nationality-flag {
    width: 4rem;
    height: 2rem;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: var(--navy-blue);
    border-left: 1px solid;
}

.timeline-heading {
    font-family: var(--heading-font);
    font-size: 3rem;
}

.timeline-p {
    margin-bottom: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: var(--navy-blue);
}

.history-row {
    justify-content: space-evenly;
    margin: 2rem 0 2rem;
    gap: 2rem;
}

/* Skills Section */

.skill-row {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.category-row {
    border-bottom: 1px solid var(--navy-blue);
}

.skills-table {
    min-width: 37rem;
}

.skill-list {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 1rem 0 !important;
}

.icon-box {
    display: inline-block;
    overflow: hidden;
}

.category-name {
    font-family: var(--heading-font);
    font-size: 3rem;
    font-weight: 500;
    padding: 1rem;
}

.skill-icon {
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    cursor: pointer;
}

.skill-heading {
    font-family: var(--heading-font);
    font-size: 2.4rem;
}

.skill-heading-icon {
    width: 8rem;
    height: 8rem;
    padding: 1rem;
}

.hidden {
    display: none;
}

#category-6 {
    border: none;
}

/* Project Section */

.project-image {
    width: 100%;
    height: 20rem;
}

.project-card {
    width: 30rem;
    align-items: center;
    text-align: center;
}

.project-title {
    font-family: var(--heading-font);
    font-size: 2.4rem;
}

.button-row {
    width: 100%;
    gap: 1rem;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}

.project-btn {
    width: 50%;
    font-size: 1.4rem;
}

.project-p {
    margin-bottom: 8rem;
}

.repo-btn {
    background-color: var(--navy-blue) !important;
    color: var(--white);
}

.repo-btn:hover {
    color: var(--white) !important;
}

/* CV Section */

.cv-p {
    font-size: 2.4rem;
}

.download-link {
    color: var(--white);
    font-size: 4rem;
}

/* Dashboard */

.card-container {
    width: 100%;
    margin: 0;
    justify-content: center;
}

.card {
    margin: 1rem;
    background-color: var(--white);
    color: var(--navy-blue);
    border: 3px solid var(--navy-blue);
    padding: 0;
}

/* Footer */
.footer-div {
    height: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials a {
    color: var(--white);
    font-size: 2.5rem;
}


/* Forms */

.form label {
    font-family: var(--main-font);
    font-size: 2rem;
}

.form-control {
    font-size: 1.6rem;
    font-family: var(--main-font);
}

.form-row {
    justify-content: space-evenly;
    align-items: center;
}

.form-a {
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.6rem;
    color: var(--navy-blue);
}

.account-form-btn {
    background-color: var(--navy-blue);
    color: var(--white);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.project-select-btn {
    border: 2px solid var(--navy-blue);
    background-color: var(--white);
    margin-bottom: 1rem;
    min-width: 15rem;
}

.project-select-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 2rem !important;
    }
}

@media (max-width: 768px) {

    html {
        scroll-padding-top: 27rem;
    }

    .navbar-brand {
        margin: 0 0 0 2rem;
        font-size: 2.4rem;
    }

    .navbar-collapse {
        margin: 0;
    }

    .navbar-toggler {
        border: none;
    }

    .category-name {
        font-size:1.8rem;
        padding: 1rem;
    }
}

@media (max-width: 991px) {
    .skill-row {
        justify-content: center;
    }
}

@media (min-width: 768px) {
    html {
        scroll-padding-top: 5.7rem;
    }
}
