@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:wght@600&family=Roboto+Slab&display=swap');

/* Global Styling */

:root {
    --navy-blue: #000080;
    --picton-blue: #00AEFF;
    --white: #fff;
    --logo: 'Playfair Display', serif;
    --heading-font: 'Montserrat', sans-serif;
    --main-font: 'Roboto Slab', serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--picton-blue);
    color: var(--white);
    font-size: 1.6rem;
    font-family: var(--main-font);
    margin-bottom:7rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--heading-font);
}

footer {
    background-color: var(--navy-blue);
    color: var(--white);
    height: 7rem;
}

.heading {
    font-size: 4.8rem;
    padding: 2rem;
}

hr {
    border-top: 1px solid var(--white);
    opacity: 1;
}

/* Navbar */

.navbar {
    background-color: var(--navy-blue);
    color: var(--white);
    height: 7rem;
}

.navbar-brand {
    color: var(--white);
    font-family: var(--logo);
    font-size: 3rem;
    letter-spacing: 0.2rem;
}

.nav-link {
    color: var(--white);
}

.navbar-nav .nav-link.active {
    color: var(--picton-blue);
}

.nav-link:hover {
    color: var(--picton-blue);
}

/* Home Page */

.hero-image {
    margin: 6rem 0 2rem;
    width: 30rem;
    height: 30rem;
    border: 0.2rem solid var(--white);
    border-radius: 50%;
}

.home-description {
    padding: 2rem;
    margin-top: 2rem;
    font-size: 2.4rem;
}

/* About Section */

.about-row {
    justify-content: space-evenly;
    align-items: center;
}

.about-p {
    font-size: 2rem;
}

.nationality-flag {
    width: 4rem;
    height: 2rem;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-heading {
    font-family: var(--heading-font);
    font-size: 3rem;
}

.timeline-p {
    margin-bottom: 0;
}

.timeline-item::before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item::after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-row {
    justify-content: space-evenly;
    margin: 2rem 0 2rem;
    gap: 2rem;
}

/* Dashboard */

.card-container {
    width: 100%;
    margin: 0;
    justify-content: center;
}

.card {
    margin: 1rem;
    background-color: var(--navy-blue);
}

/* Footer */
.footer-div {
    height: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials a {
    color: var(--white);
    font-size: 2.5rem;
}


/* Forms */

.form label {
    font-family: var(--main-font);
    font-size: 2rem;
}