<div class="container">
    <h2 class="heading text-center">About Me</h2>
    {% for detail in detail %}
    <div class="row about-row text-center box-border">
        <div class="col-md-4">
            <div class="row">
                <p class="about-p">Full Name:</p>
                <p class="about-p">{{ detail.full_name }}</p>
            </div>
            <div class="row">
                <p class="about-p">Nationality:</p>
                <p class="about-p">{{ detail.nationality }} <image src="{{ detail.nationality_flag.url }}" class="nationality-flag"></image></p>
            </div>
            <div class="row">
                <p class="about-p">Residence:</p>
                <p class="about-p">{{ detail.residence }}</p>
            </div>        
        </div>
        <div class="col-md-4 justify-content-end">
            <div class="row">
                <p class="about-p">{{ detail.detail_paragraph_1 }}</p>
                <p class="about-p">{{ detail.detail_paragraph_2 }}</p>
            </div>
        </div>
    </div>
    <div class="row history-row box-border">
        <div class="col-md-4">
            <h2 class="timeline-heading text-center">Education</h2>
            {% for education in education %}
                {% if education.end_date == null %}
                    <div class="timeline-item" data-dates="{{ education.start_date }} -  Present">
                        <h3>{{ education.place_of_study }}</h3>
                        <p class="timeline-p">{{ education.accreditation }}</p>
                    </div>
                {% else %}
                    <div class="timeline-item" data-dates="{{ education.start_date }} -  {{ education.end_date }}">
                        <h3>{{ education.place_of_study }}</h3>
                        <p class="timeline-p">{{ education.accreditation }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            <h2 class="timeline-heading text-center">Work History</h2>
            {% for work_history in work_history %}
                {% if work_history.end_date == null %}
                    <div class="timeline-item" data-dates="{{ work_history.start_date }} -  Present">
                        <h3>{{ work_history.company_name }}</h3>
                        <p class="timeline-p">{{ work_history.position }}</p>
                    </div>
                {% else %}
                    <div class="timeline-item" data-dates="{{ work_history.start_date }} -  {{ work_history.end_date }}">
                        <h3>{{ work_history.company_name }}</h3>
                        <p class="timeline-p">{{ work_history.position }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}

</div>
