<div class="container">
    <div class="row justify-content-center align-items-center">
        {% for data in data %}
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
                <img src="{{ data.hero_image.url }}" class="hero-image" alt="Image of author">
            </div>
        {% endfor %}

        {% for detail in details %}
            <div class="col-12 col-lg-6">
                <div class="row">
                    <p class="about-p text-center text-lg-start">Full Name: {{ detail.full_name }}</p>
                </div>
                <div class="row">
                    <p class="about-p text-center text-lg-start">
                        Nationality: {{ detail.nationality }} <img src="{{ detail.nationality_flag.url }}" class="nationality-flag" alt="nationality">
                    </p>
                </div>
                <div class="row">
                    <p class="about-p text-center text-lg-start">Residence: {{ detail.residence }}</p>
                </div>
                <div class="row">
                    <p class="about-p text-center text-lg-start">Email: {{ detail.email }}</p>
                </div>   
            </div>
            <div class="col-12 col-lg-6 p-0">
                    <p class="about-p text-center text-lg-start">{{ detail.detail_paragraph_1 }}</p>
            </div>
            <div class="col-12 col-lg-6 p-0">
                <p class="about-p text-center text-lg-start">{{ detail.detail_paragraph_2 }}</p>
            </div>
        {% endfor %}
    </div>

</div>
