<div class="container">
    <h2 class="heading text-center">Projects</h2>
    <div class="row card-container">
    {% for project in project %}
        <div class="card col-md-4">
            <img src="{{ project.project_image.url }}" class="card-img-top" alt="{{ project.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.project_description }}.</p>
                <a href="{{ project.site_link }}" class="btn btn-primary"  target="_blank" rel="noopener">Live Site</a>
                <a href="{{ project.repo_link }}" class="btn btn-secondary" target="_blank" rel="noopener">Repository</a>
        </div>
      </div>
    {% endfor %}
    </div>
</div>