<div class="container">
    <h2 class="heading text-center">Skills</h2>
    
    <table>
        <tbody>
        {% for category in category %}
            <tr>
                <th class="category-name">{{ category.category }}</th>
                {% for skill in skill %}
                {% if skill.category == category %}
                <td><img class="skill-icon" src="{{ skill.skill_icon }}" alt="{{ skill.skill_name }}"></td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
</div>