<div class="container">
    <h2 class="heading text-center">Skills</h2>
    <div class="row">
        <div class="row skill-row">
            <div class="col-md-5">
                {% for category in categories %}
                <div class="row category-row">
                    <div class="col-md-2">
                        <h4 class="category-name">{{ category.category }}</h4>
                    </div>
                    <div class="col-md-4">
                        <ul class="skill-list">
                            {% for skill in skills %}
                            {% if skill.category == category %}
                                <li class="icon-box"><img class="skill-icon" src="{{ skill.skill_icon }}" alt="{{ skill.name }}" title="{{ skill.skill_description }}"></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-5 box-border text-center" id="skill-description-box">
                    <h3 id="skill-name" class="skill-heading hidden"></h3>
                    <img id="skill-heading-icon" class="skill-heading-icon hidden" src="">
                <p id="default-skill-p" class="skill-p">Click on the different skills in the table to find out more!</p>
                <p id="skill-description" class="hidden skill-p"></p>
            </div>
        </div>
    </div>
</div>