<footer class="fixed-bottom">
<div class="d-flex footer-div">
    <ul class="socials">
        <li>
            <a href="https://github.com/ThomasWharton"
               target="_blank" 
               rel="noopener" 
               aria-label="Check out my github page!">
               <i class="fa-brands fa-github"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/thomas-wharton-776459119/"
               target="_blank"
               rel="noopener"
               aria-label="Check out my linkedin page!">
               <i class="fa-brands fa-linkedin"></i>
            </a>
        </li>
    </ul>
</div>
</footer>